/* место для вашего кода */
.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item {
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.link:hover {
  opacity: 0.75;
}

.link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 137px;
}

.header__address {
  justify-self: end;
}

.address {
  max-width: 237px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 135px;
  padding: 165px 50px 50px;
  position: relative;
  z-index: 0;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  opacity: 0.6;
  background-color: black;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.bet-button:hover {
  transform: scale(1.03);
}

.lots {
  padding: 180px 50px 90px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  padding: 27px 0 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  padding: 50px 40px;
  background-color: blanchedalmond;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card:hover {
  opacity: 0.75;
  transform: translateY(-5px);
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.lots__look-more-link:hover {
  opacity: 0.75;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 91px 50px 95px;
  gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__logo {
  width: 240px;
  height: 240px;
  padding: 63px 46px;
  background-color: black;
  border-radius: 50%;
  align-self: center;
}

.about__title {
  padding: 100px 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  width: 690px;
}

.footer {
  padding: 90px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
  justify-self: center;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__social-list {
  list-style-type: none;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  gap: 46px;
}

.footer__social-link {
  display: block;
  width: 50px;
  height: 50px;
}

.footer__social-link:hover {
  opacity: 0.75;
}
